.artist-header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: solid 1px #333;
}

.artist-thumb {
  width: 80px;
  height: auto;
  float: left;
  margin-right: 10px;
}

.artist-albums {
  column-count: 3;
  flex-wrap: wrap;
}

.albums-thumbs-list {
  margin-bottom: 20px;
  overflow: auto;
  min-height: 400px;
}

.artist-album {
  width: 300px;
  min-height: 400px;
  text-align: center;
}

.album-thumb {
  width: 250px;
  height: 250px;
}

.album-thumb-name {
  overflow: hidden;
  text-overflow: ellipsis;
  height: 2.4em;
  line-height: 1.2em;
}
