<h1>Search for Music</h1>
<p>Use the SpClassical site to find music albums in Spotify</p>
<form>
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Enter search text"
      [formControl]="search"
      (keyup)="searchMusic()">
  </mat-form-field>
</form>

<div *ngIf="searchRes">
  <div *ngFor="let res of searchRes">
    <div>
      <h4><a routerLink="/artist/{{res.id}}">{{res.name}}</a></h4>
      <div>
        <strong>Genres: </strong>
        <span>{{res.genres.join(" / ")}}</span>
      </div>
    </div>
  </div>
</div>
